<div class="ListOfProducts">

<div class="ProductContainer">
    <ngb-carousel class="Images">
        <ng-template>

        </ng-template>
    </ngb-carousel>
    <div class="ProductInformation">
        <span class="Title">
            Descripción corta del servicio Descripción corta del servicio Descripción corta del servicio
        </span>
        <div class="ReviewAndPrice">
            <span class="Review">10/10</span>
            <span class="Price">$23,200.56</span>
        </div>
    </div>
</div>

</div>