.TopBarContainer
    display: flex
    justify-content: space-between
    background: white

.Title
    align-self: self-start

.Search
    border-radius: '50px'
    box-shadow: '0px 0px 7px rgba(0, 0, 0, 0.25)'